PDF _ IMAGEs.json
{
  "name": "PDF / IMAGEs",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        32
      ],
      "id": "913002dc-4cc2-4e07-9a78-6996c7894ce1",
      "name": "Telegram Trigger",
      "webhookId": "e35dfaeb-7771-4fda-9f5e-3b3062a15fcb",
      "credentials": {
        "telegramApi": {
          "id": "63VBG1BdYrHxoqfP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "94e2b70f-5da5-48be-8dfc-473c87e4dc44",
                    "leftValue": "={{ $json.message.photo ? 'image' : ($json.message.document ? 'document' : 'other') }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7365c84a-350b-4eef-9180-0823904ad731",
                    "leftValue": "={{ $json.message.photo ? 'image' : ($json.message.document ? 'document' : 'other') }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -80,
        32
      ],
      "id": "b62bb189-4836-475c-9aa8-b5dc556e7875",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -272,
        32
      ],
      "id": "5295a4a7-3896-4d81-a442-1047bc99067c",
      "name": "Get a file",
      "webhookId": "cd1a14af-b85d-4fdf-b11b-c54faff7ea63",
      "credentials": {
        "telegramApi": {
          "id": "63VBG1BdYrHxoqfP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "can you pull out all the text from this image",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        192,
        -288
      ],
      "id": "9e0a6a4b-d485-4c92-a9f8-54cf108f7c37",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "IYTeTOkVCsAMAg5v",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Receipt Tester",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -208,
        -496
      ],
      "id": "ae4ee078-f994-43b5-81d8-588441f1af1f",
      "name": "On form submission",
      "webhookId": "1e16aca2-c46e-4188-a5d9-f731bd65b47b",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "\nPlease pull out all the line items from this image receipt.\n\nplease output the data in the following json structure\n\n{{\n  \"receipt_info\": {\n    \"store_name\": \"\",\n    \"store_address\": \"\",\n    \"date\": \"\",\n    \"time\": \"\",\n    \"currency\": \"\",\n    \"payment_method\": \"\",\n    \"subtotal\": 0,\n    \"total_tax\": 0,\n    \"total_price\": 0\n  },\n  \"line_items\": [\n    {\n      \"title\": \"\",\n      \"description\": \"\",\n      \"quantity\": 0,\n      \"price_per_unit\": 0,\n      \"tax\": 0,\n      \"line_total\": 0\n    }\n  ],\n  \"metadata\": {\n    \"receipt_id\": \"\",\n    \"category\": \"\"\n  }\n}",
              "role": "model"
            },
            {
              "content": "={{ $json.content.parts[0].text }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        416,
        -288
      ],
      "id": "451ce718-b915-4870-93bb-3d72d947b36c",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "IYTeTOkVCsAMAg5v",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Reach deep into the nesting to find the text\nconst rawText = $json.content.parts[0].text;\n\n// 2. Turn that text string into a real JSON object\nconst structuredData = JSON.parse(rawText);\n\n// 3. Return it so n8n shows \"store\" and \"total\" as bubbles\nreturn structuredData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -288
      ],
      "id": "53779aef-5e0b-4d2b-b5fb-cddfeef0e2e5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uGcdKarz_7TCBHI1b7qw3-326IF8VZSkHrYOlHnf6U0",
          "mode": "list",
          "cachedResultName": "n8n project",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uGcdKarz_7TCBHI1b7qw3-326IF8VZSkHrYOlHnf6U0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1400476962,
          "mode": "list",
          "cachedResultName": "Line items",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uGcdKarz_7TCBHI1b7qw3-326IF8VZSkHrYOlHnf6U0/edit#gid=1400476962"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title ": "={{ $json.title }}",
            "Description": "={{ $json.description }}",
            "Price": "={{ $json.price_per_unit }}",
            "Tax": "={{ $json.tax }}",
            "Total": "={{ $('Code in JavaScript').item.json.receipt_info.total_price }}",
            "Merchant Name": "={{ $('Code in JavaScript').item.json.receipt_info.store_name }}",
            "Currency": "={{ $('Code in JavaScript').item.json.receipt_info.currency }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title ",
              "displayName": "Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tax",
              "displayName": "Tax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Merchant Name",
              "displayName": "Merchant Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        -288
      ],
      "id": "1d18ea8a-2207-4ffa-aca7-13852d7535f5",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "IYOOUqOdH8fK5JqS",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "line_items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        992,
        -288
      ],
      "id": "551c4fc7-3cfd-4b51-b2ee-d846b984f4df",
      "name": "Split Out"
    },
    {
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        0
      ],
      "id": "773a0241-0ce3-4caa-8957-4f16b770d6b9",
      "name": "Send a text message",
      "webhookId": "0b873394-ae45-4380-8874-0f64c1e8a0f7",
      "credentials": {
        "telegramApi": {
          "id": "63VBG1BdYrHxoqfP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1440,
        -288
      ],
      "id": "e812071a-5b56-49f4-b072-f63d54be720f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Analyze the attached document. Extract the curriculum data into the following structured JSON format.\n\nJSON Structure:\n{\n\"roadmap_title\": \"\",\n\"phases\": [\n{\n\"month\": \"\",\n\"phase_name\": \"\",\n\"topics\": [],\n\"key_skills\": \"\"\n}\n]\n}\n\nInstructions:\n\nIdentify the two different roadmaps in the file: 'Original' and 'Applied AI Engineer'.\n\nFor each Month, list the specific technologies (like Python, NumPy, Pandas) as an array in 'topics'.\n\nEnsure the 'Applied AI Engineer' section specifically captures the 'Optional: n8n automation' part in Month 5.\n\nReturn ONLY the raw JSON.\n\nMonth 1\n{python, java, c++}\n\nmonth 2\n{python, java, c++}\n",
              "role": "model"
            },
            {
              "content": "={{ $json.text }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        432,
        304
      ],
      "id": "d92244fa-0587-4768-9491-2e50bf8b92d2",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "IYTeTOkVCsAMAg5v",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Reach deep into the nesting to find the text\nconst rawText = $json.content.parts[0].text;\n\n// 2. Turn that text string into a real JSON object\nconst structuredData = JSON.parse(rawText);\n\n// 3. Return it so n8n shows \"store\" and \"total\" as bubbles\nreturn structuredData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        304
      ],
      "id": "a9105903-fea5-4ba4-b014-9024fa04f12b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uGcdKarz_7TCBHI1b7qw3-326IF8VZSkHrYOlHnf6U0",
          "mode": "list",
          "cachedResultName": "n8n project",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uGcdKarz_7TCBHI1b7qw3-326IF8VZSkHrYOlHnf6U0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 794875672,
          "mode": "list",
          "cachedResultName": "Roadmap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uGcdKarz_7TCBHI1b7qw3-326IF8VZSkHrYOlHnf6U0/edit#gid=794875672"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Month 1",
              "displayName": "Month 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Month 2",
              "displayName": "Month 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Month 3",
              "displayName": "Month 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Month 4",
              "displayName": "Month 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Month 5",
              "displayName": "Month 5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Month 6",
              "displayName": "Month 6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        304
      ],
      "id": "96db3036-c5bd-4303-bf4e-64925b6ff6c5",
      "name": "Append row in sheet1",
      "credentials": {
        "googleApi": {
          "id": "IYOOUqOdH8fK5JqS",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "line_items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1008,
        304
      ],
      "id": "223faa16-bc33-4ae9-8f91-f03c63988926",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1456,
        304
      ],
      "id": "135322af-0967-45cd-b03b-88026c634b67",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "formTitle": "document",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -432,
        -496
      ],
      "id": "78aee71a-7c7a-4ce9-975d-fbb459e8a67e",
      "name": "On form submission1",
      "webhookId": "a61da55f-40b4-4968-b81e-75a7a6984155",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        192,
        304
      ],
      "id": "4408cd46-a0df-4b97-be96-495dce02323c",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1696,
        0
      ],
      "id": "3c435a11-761f-4974-a58b-e07d64be000a",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "Text extraction from image",
        "height": 272,
        "width": 1440,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -368
      ],
      "id": "8cb347fa-d55f-4d80-a4fc-01064ffa8b44",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Text extraction from files",
        "height": 272,
        "width": 1440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        224
      ],
      "id": "0f975142-e093-4e8d-8328-9e15e260f209",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "message": {
            "message_id": 12345,
            "from": {
              "id": 987654321,
              "is_bot": false,
              "first_name": "Test User",
              "username": "testuser"
            },
            "chat": {
              "id": 987654321,
              "first_name": "Test User",
              "type": "private"
            },
            "date": 1719391200,
            "photo": [
              {
                "file_id": "AgACAgQAAxkBAAIC...",
                "file_unique_id": "AQAD...",
                "file_size": 1500,
                "width": 90,
                "height": 67
              },
              {
                "file_id": "AgACAgQAAxkBAAIC...",
                "file_unique_id": "AQAD...",
                "file_size": 25000,
                "width": 320,
                "height": 240
              }
            ],
            "caption": "Here is my receipt from ArtGroup"
          }
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        []
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        []
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "af16ad4b-e0d1-45b7-b1ff-87dcb2cf4ccd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54b06315817fd07df4927ca7349fea37606eb75294a247e231fd9d13aa12f311"
  },
  "id": "1YgdHUdbtFqJT3rF",
  "tags": []
}